@import '../../../common.scss';

.addEvent__container {
    display: grid;
    width: 50%;
    margin: 30% auto 0px auto;
}

.addEvent__dropdownContainer {
    display: grid;
    grid-template-columns: 25% auto;
}

.addEvent__label{
    color: $tan;
}