@import '../styles/deckTheBellsVariables.scss';

.rankingDemoScreen__container {
  height: 100%;
  background-color: $tan;
}

.rankingDemoScreen__detailsContainer,
.rankingDemoScreen__resultsContainer {
  width: 75%;
  margin: 0px auto;

  h3 {
    color: $darkGray;
    font-size: 22px;
    margin: 10px 0px;

    @media (min-width: $medium) {
      font-size: 38px;
    }
  }

  button {
    background-color: $red;
  }
}

.rankingDemoScreen__detailsContainer {
  min-height: 420px;

  @media (min-width: $large) {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    min-height: 350px;
    margin-top: 20px;
  }
}

.rankingDemoScreen__resultsContainer {
  width: 30%;
}

.rankingDemoScreen__header {
  color: $white;
  font-size: 42px;

  @media (min-width: $medium) {
    font-size: 70px;
  }
}

.rankingDemoScreen__submit {
  width: 100%;
}

.rankingDemoScreen__result {
  text-align: center;
}