@import '../../../common.scss';

.lifterBox__container {
    [class^="lifterDisplay__label"] {
        font-size: $boxLabel;
        position: absolute;
    }
    
    .lifterDisplay__label--gender {
        right: 10px;
    }
    
    .lifterDisplay__label--firstName,
    .lifterDisplay__label--lastName {
        left: 32%;
    }
    
    .lifterDisplay__label--firstName {
        top: 25%;
    }
    
    .lifterDisplay__label--lastName {
        top: 40%;
    }
}

[class^="lifterBox__modalLabel"] {
    color: $tan;
}