$size: 24px;

.durationLabel {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: $size;
}

.typeLabel {
    position: absolute;
    top: 36%;
    right: 32%;
    font-size: $size;
}