@import '../../../common.scss';

.durationLabel {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: $boxLabel;
}

.typeLabel {
    position: absolute;
    top: 36%;
    right: 32%;
    font-size: $boxLabel;
}