@import '../../common.scss';

.liftersScreen__container {
    margin: 0px auto;
    width: 75%;
}

.liftersScreen__liftersIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    h2 {
        font-size: $iconMiniLabel;
    }
}