@import '../../common.scss';

.eventsScreen__boxContainer {
    margin: 0px auto;
    width: 75%;
  }

.eventsScreen__eventsIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  h2 {
      font-size: $iconMiniLabel;
  }
}