@import 'common.scss';

.app__container,
.app__content {
  width: 100%;
}

.app__container {
  height: 100%;
}

.app__title {
  text-align: center;
  color: $textPrimary;
  margin-top: 0px;
  padding-top: 21px;
  text-decoration: underline;

  @media (min-width: $large) {
    font-size: $titleLarge;
  }
}

.app__content {
  background-color: $backgroundPrimary;
  height: 80%;
}

.app__footer {
  background-color: $backgroundSecondary;
  height: 20%;
}