@import 'common.scss';

.app__container {
  height: 100%;
}

.app__title {
  text-align: center;
  color: $textPrimary;
  padding: 21px;
  text-decoration: underline;
}

.app__content {
  background-color: $backgroundPrimary;
  height: 80%;
}

.app__footer {
  background-color: $backgroundSecondary;
  height: 20%;
}